:root {
    --blue: #2C7DFA;
    --blue-shade: #3685FF;
    --dark-navy: #1F314F;
    --grey: #7D889E;
    --light-grey: #D5E1EF;
    --white: #FFFFFF;
}

body, #app {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    width: 100%;
    background-color: var(--light-grey);
}
